<div class="header">
	<div class="logo">
		<img src="../../../../assets/rombus-global.8ca25977.svg" alt="">
	</div>
	<div class="options">
		<p class="option">SOLUCIONES</p>
		<p class="option">STAFF</p>
		<p class="option">BLOG</p>
		<button>PUBLICAR PROYECTO</button>
	</div>
	<div class="avatar">
		<img src="../../../../assets/capa-23-imagen.png" alt="">
	</div>
</div>