.header {
  height: 115px;
	background-color: #123a40;
	display: flex;
	align-items: center;

	.logo {
		width: 50%;

		img {
			width: 285px;
			margin-left: 85px;
		}
	}

	.options {
		display: flex;
		width: 40%;

		.option {
			text-decoration: none;
			color: #ffffffb5;
			font-family: sans-serif;
			letter-spacing: 1.5px;
			margin-right: 40px;
		}

		button {
			background-color: #24a4b4;
			border: 1px solid #ffffff7d;
			border-radius: 30px;
			color: #ffffffa1;
			width: 230px;
			font-family: sans-serif;
			letter-spacing: 1.5px;
		}
	}

	.avatar {
		width: 10%;
	}
}