<div class="step1">
  <div class="steper">
		<div class="circle">
			1/4
		</div>
		<div class="title">
			DEFINICIÓN
		</div>
	</div>
	<div class="content">
		<div class="header">
			<h1>Cuéntanos de qué trata tu proyecto</h1>
			<p>¡Explica brevemente en qué consiste tu necesidad y en 4 pasos tendrás un plan a tu medida!</p>
		</div>
		<div class="title">
			<p>Ponle un título fácil, que identifique tu requerimiento *</p>
			<div class="rectangle">
				<div class="text">
					Título del proyecto (Ej: ...)
				</div>
			</div>
		</div>
		<div class="description">
			<p>Agrega un párrafo que nos ayude a entender lo que necesitas o el objetivo que deseas lograr.*</p>
			<div class="rectangle">
				<div class="text">
					Descripción del proyecto
				</div>
			</div>
		</div>
	</div>
</div>