.step1 {
	background-image: url(../../../assets/capa-0-copia-imagen.png);
	height: 100vh;
	display: flex;

	.steper {
		width: 35%;
		display: flex;
    height: 100%;
		justify-content: center;
		
		.circle {
			background-color: #00a2c2;
			align-items: center;
			display: flex;
			width: 60px;
			justify-content: center;
			color: white;
			font-size: 28px;
			border-radius: 35px;
			font-size: 24px;
			letter-spacing: 1.5px;
			height: 60px;
			margin-top: 120px;
			font-family: 'OpenSans', sans-serif;
		}

		.title {
		  color: #00a2c2;
		  margin-left: 12px;
		  display: flex;
		  height: 60px;
		  align-items: center;
		  font-size: 18px;
		  margin-top: 120px;
		  font-family: 'OpenSans', sans-serif;
		}
}
	.content {
		width: 50%;
		height: 100%;

		.header {
			margin-top: 130px;

			h1 {
				font-weight: 300;
				font-family: 'OpenSans', sans-serif;
				font-size: 35px;
				color: #0a111ad1;
			}

			p {
				font-weight: 300;
				font-family: 'OpenSans', sans-serif;
				color: #0a111ad1;
			}
		}

		.title {

			p {
				font-family: 'OpenSans', sans-serif;
    		font-weight: 300;
    		color: #0a111ad1;
    		font-size: 14px;
    		margin-top: 30px;
			}
			.rectangle {
			  background: white;
			  height: 60px;
			  display: flex;
			  align-items: center;

			  .text {
			    color: #706a6a;
			    margin-left: 18px;
			    font-size: 18px;
			  }
			}
		}

		.description {

			p {
				margin-top: 40px;
    		font-family: 'OpenSans', sans-serif;
    		font-weight: 300;
    		font-size: 14px;
    		color: #0a111ad1;
			}
			.rectangle {
			  background: white;
			  height: 300px;
				display: flex;
				box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.18);
				.text {
			    color: #706a6a;
    			font-size: 18px;
    			margin: 15px 0px 0px 18px;
				}
			}
		}
	}
}

